.user_container {
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.user_title {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
}

.user_text {
  font-size: 18px;
  color: #555;
}
